body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: black;
  color: white;
  background-image: url(../images/backh.jpg);
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

.main-menu {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 0;
}

.main-menu a {
  text-decoration: none;
  color:white;
  margin-right: 1opx;
}

main p {
  text-align: justify; /*для растягивания текста*/
}

.avatar {
  height: 350px;
  text-align: center;
  margin: 3rem 0;
  background-image: url(../images/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.avatar img {
  height: 100%;
}

.btn {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 5px;
}

.contact-me-btn{
  color: white;
  border-color: white;
  font-size: 1.2;
  display: inline-block;
}

.footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}