@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "lato", sans-serif;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

footer {
  background: linear-gradient(to right, rgb(74, 74, 241), rgb(247, 241, 242));
  padding: 20px 10px;
}

footer a {
  color: white;
  margin: 0 10px;
}

footer a:hover {
  color: #398cda;
  border-bottom: 2px solid #3366d3;
}

.container {
  margin: 0 100px;
  overflow: clip;
}

.navbar {
  background: linear-gradient(to right, rgb(74, 74, 241), rgb(247, 241, 242));
  height: 70px;
  padding: 0 30px;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 9px;
  margin: 0 10px;
}

.navbar a:hover {
  color: #588df1;
  border-bottom: 3px solid #2a75d8;
}

.showcase {
  height: 300px;
  background: linear-gradient(to right, rgb(74, 74, 241), rgb(247, 241, 242));
}

.showcase p {
  margin-bottom: 30px;
}

.showcase img {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.showcase-form {
  padding-left: 7px;
}

.flex-item-1,
.flex-item-2 {
  position: relative;
  top: 50px;
}

.flex {
  overflow: visible;
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: #3576ca;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.showcase-form {
  margin: auto;
}

.little-info {
  font-size: 15px;
  font-family: "poppins", sans-serif;
}

.lower-container {
  margin: 120px auto;
  padding: 0;
  max-width: 1400px;
  text-align: center;
}

.title {
  color: black;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.text {
  color: black;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin: 0, 20px;
  text-align: justify;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.stats {
  padding: 45px 50px;
  text-align: center;
}

.stat {
  margin: 0 30px;
  text-align: center;
  width: 800px;
}

.stats .fa {
  color: rgb(56, 91, 206);
}

.testimonial {
  color: black;
  padding: 40px;
}

.testimonial img {
  height: 100%;
  clip-path: circle();
}

.testimonial h3 {
  text-align: center;
}

.flex-3 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.circle {
  background-color: transparent;
  border: 3px solid rgb(20, 6, 202);
  height: 90px;
  position: relative;
  top: -30px;
  left: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 90px;
}

@media (max-width: 768px) {
  .flex,
  .flex-3 {
    flex-direction: column;
  }

  .stats .flex {
    flex-direction: column;
  }

  .stats {
    text-align: center;
  }

  .image {
    width: 400px;
    margin-left: 10px;
  }

  .stat {
    width: 100%;
    padding-right: 80px;
  }

  .circle {
    background-color: transparent;
    border: 3px solid rgb(68, 103, 219);
    height: 90px;
    position: relative;
    top: -30px;
    left: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
  }

  .showcase {
    height: auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 100px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar a:hover {
    color: white;
    border-bottom: 2px solid black;
  }

  .navbar ul {
    background: #6ca3ec;
    border-radius: 5px;
    padding: 10px 0;
  }

  .showcase {
    height: auto;
    text-align: center;
  }

  .little-info {
    font-size: 13px;
  }

  .image {
    width: 150px;
    margin-left: 10px;
  }

  .stat {
    margin-bottom: 40px;
  }

  .circle {
    background-color: transparent;
    border: 3px solid rgb(9, 39, 209);
    height: 90px;
    position: relative;
    top: -30px;
    left: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
  }
}
